JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=admin123
# Have to be set after controller launch then agent can be run
JENKINS_AGENT_SECRET=

CACHE_BUST=1
# ifconfig
# vault ip for agent
VAULT_ADDR=http://192.168.0.26:8200